@media (max-width: 780px) {
    
    .entrar{
    display: block;
    justify-content: center;  
    }

    nav ul a {
        display: none;
    }

  .card-colorido {
    flex: 0 0 90%;          
    flex-direction: column; 
    align-items: center;    
    gap: 24px;              
  }

  .texto-lateral {
    max-width: 100%;  
    text-align: center;
    margin-left: 0;     
  }
}