@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    /* paleta principal */
    --cor-azul-claro: #0092d4;
    --cor-azul-marista: #003a60;
    /* paleta auxiliar */
    --cor-amarelo: #fdc300;
    --cor-vermelho: #e7343f;
    --cor-rosa: #ea5297;
    --cor-turquesa: #4fbcc1;
    --cor-roxo: #745ba3;
    --cor-verde: #52ae32;
    /* paleta de apoio */
    --cor-cinza-claro: #e7e8e9;
    --cor-cinza-medio: #c0c0c0;
    --cor-cinza-escuro: #575756;
    --cor-cinza: #333333;
}

li, p {
    font-family: Mulish, sans-serif;
}

h1 {
    font-family: Cambay;
    margin: 0;
    padding: 0;
}

h2 {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.nav-container {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.4px solid var(--cor-cinza-medio);
    flex-wrap: wrap;
}

.menu .list .link {
    position: relative;
}

.list {
    list-style: none;
    gap: 30px;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul a {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

nav ul a::before {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: var(--cor-amarelo);
    border-radius: 1px;
    transition: width 0.2s ease;
}

nav ul a:hover::before {
    width: 100%;
}

.link:hover .nav-link::after,
.link:has(.dropdown-vagas:hover) .nav-link::after {
  width: 100%;
}

.nav-link.active::before {
  width: 100%;
}
